<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="card mb-3" *ngIf="!isLoading">
  <h4 class="card-header">Current orders -- {{order.name}}</h4>
  <div class="card-body">
    <div class="mb-3">
      <button type="button" class="btn btn-primary" (click)="exportList(order._id);">Export</button>
    </div>
    
    <table class="table table-bordered">
      <thead class="thead-light">
      <tr>
        <th style="width: 20%">Name</th>
        <th style="width: 18%">Area Count</th>
        <th style="width: 18%">Income</th>
      </tr>
      </thead>
      <tbody *ngIf="orderAgents.length === 0">
      <tr>
        <td colspan="5">There are no orders in the DB.</td>
      </tr>
      </tbody>
      <tbody>
      <tr *ngFor="let order of orderAgents">
        <td>{{order.name}}</td>
        <td>{{order.areaCount}}</td>
        <td>{{order.income.toFixed(2)}}</td>
      </tr>
      </tbody>
    </table>
    <div>
      <button class="btn btn-primary" (click)="back()">返回</button>
    </div>
  </div>
</div>
