<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="card mb-3" *ngIf="!isLoading">
  <h4 class="card-header">代理商列表 ({{agents.length}})</h4>
  <div class="card-body">
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col">姓名</th>
          <th scope="col">价格</th>
          <th scope="col">折扣价格</th>
          <th scope="col">操作</th>
        </tr>
      </thead>
      <tbody *ngIf="agents.length === 0">
        <tr>
          <td colspan="4">没有代理商，点击增加代理商。</td>
        </tr>
      </tbody>
      <tbody *ngIf="!isEditing">
        <tr *ngFor="let agent of agents">
          <td>{{agent.name}}</td>
          <td>{{agent.price}}</td>
          <td>{{agent.discountPrice}}</td>
          <td>
            <button class="btn btn-sm btn-primary" (click)="enableEditing(agent)"><i class="fa fa-pencil"></i> 编辑</button>
            <button class="btn btn-sm btn-danger" (click)="deleteAgent(agent)"><i class="fa fa-trash"></i> 删除</button>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="isEditing">
        <tr>
          <td colspan="4">
            <form class="form-inline" #form="ngForm" (ngSubmit)="editAgent(agent)">
              <input class="form-control mr-2" type="text" name="name" [(ngModel)]="agent.name" placeholder="名称" required>
              <input class="form-control mr-2" type="number" name="age" [(ngModel)]="agent.price" placeholder="价格" min="0" required>
              <input class="form-control mr-2" type="number" name="discountPrice" [(ngModel)]="agent.discountPrice" placeholder="折扣价格" step="any" min="0" required>
              <button class="btn btn-sm btn-primary mr-2" type="submit" [disabled]="!form.form.valid"><i class="fa fa-floppy-o"></i> 保存</button>
              <button class="btn btn-sm btn-warning" (click)="cancelEditing()"><i class="fa fa-times"></i> 取消</button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
    <ngb-pagination [collectionSize]="pageInfo.totalRecord" [(page)]="pageInfo.page" aria-label="members pagination" (pageChange)="changePage($event)"  *ngIf="pageInfo.totalRecord"></ngb-pagination>
  </div>
</div>

<div class="card" *ngIf="!isEditing">
  <h4 class="card-header">新增代理商</h4>
  <div class="card-body">
    <form class="form-inline" [formGroup]="addAgentForm" (ngSubmit)="addAgent()">
      <input class="form-control mr-2" type="text" name="name" formControlName="name" placeholder="名称">
      <input class="form-control mr-2" type="number" name="price" formControlName="price" placeholder="价格" step="any" min="0">
      <input class="form-control mr-2" type="number" name="discountPrice" formControlName="discountPrice" placeholder="折扣价格" min="0">
      <button class="btn btn-primary" type="submit" [disabled]="!addAgentForm.valid"><i class="fa fa-floppy-o"></i> 新增</button>
    </form>
  </div>
</div>
