<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="card mb-3" *ngIf="!isLoading">
  <h4 class="card-header">Current agents ({{agents.length}})</h4>
  <div class="card-body">
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Discount Price</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody *ngIf="agents.length === 0">
        <tr>
          <td colspan="4">There are no agents in the DB. Add a new agent below.</td>
        </tr>
      </tbody>
      <tbody *ngIf="!isEditing">
        <tr *ngFor="let agent of agents">
          <td>{{agent.name}}</td>
          <td>{{agent.price}}</td>
          <td>{{agent.discountPrice}}</td>
          <td>
            <button class="btn btn-sm btn-primary" (click)="enableEditing(agent)"><i class="fa fa-pencil"></i> Edit</button>
            <button class="btn btn-sm btn-danger" (click)="deleteAgent(agent)"><i class="fa fa-trash"></i> Delete</button>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="isEditing">
        <tr>
          <td colspan="4">
            <form class="form-inline" #form="ngForm" (ngSubmit)="editAgent(agent)">
              <input class="form-control mr-2" type="text" name="name" [(ngModel)]="agent.name" placeholder="Name" required>
              <input class="form-control mr-2" type="number" name="age" [(ngModel)]="agent.price" placeholder="Price" min="0" required>
              <input class="form-control mr-2" type="number" name="discountPrice" [(ngModel)]="agent.discountPrice" placeholder="Discount Price" step="any" min="0" required>
              <button class="btn btn-sm btn-primary mr-2" type="submit" [disabled]="!form.form.valid"><i class="fa fa-floppy-o"></i> Save</button>
              <button class="btn btn-sm btn-warning" (click)="cancelEditing()"><i class="fa fa-times"></i> Cancel</button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
    <ngb-pagination [collectionSize]="pageInfo.totalRecord" [(page)]="pageInfo.page" aria-label="members pagination" (pageChange)="changePage($event)"  *ngIf="pageInfo.totalRecord"></ngb-pagination>
  </div>
</div>

<div class="card" *ngIf="!isEditing">
  <h4 class="card-header">Add new agent</h4>
  <div class="card-body">
    <form class="form-inline" [formGroup]="addAgentForm" (ngSubmit)="addAgent()">
      <input class="form-control mr-2" type="text" name="name" formControlName="name" placeholder="Name">
      <input class="form-control mr-2" type="number" name="price" formControlName="price" placeholder="Price" step="any" min="0">
      <input class="form-control mr-2" type="number" name="discountPrice" formControlName="discountPrice" placeholder="Discount Price" min="0">
      <button class="btn btn-primary" type="submit" [disabled]="!addAgentForm.valid"><i class="fa fa-floppy-o"></i> Add</button>
    </form>
  </div>
</div>
