<div class="container">

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="/topics" class="nav-link" routerLinkActive="active" *ngIf="auth.loggedIn">
            <i class="fa fa-home"></i> 题包
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/orders" class="nav-link" routerLinkActive="active" *ngIf="auth.loggedIn && auth.isAdmin">
            <i class="fa fa-list"></i> 结算
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/agents" class="nav-link" routerLinkActive="active" *ngIf="auth.loggedIn">
            <i class="fa fa-list"></i> 代理商
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/members" class="nav-link" routerLinkActive="active" *ngIf="auth.loggedIn">
            <i class="fa fa-list"></i> 标注员
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/login" class="nav-link" routerLinkActive="active" *ngIf="!auth.loggedIn">
            <i class="fa fa-sign-in"></i> 登陆
          </a>
        </li>
        <!--<li class="nav-item">-->
          <!--<a routerLink="/register" class="nav-link" routerLinkActive="active" *ngIf="!auth.loggedIn">-->
            <!--<i class="fa fa-user-plus"></i> 注册-->
          <!--</a>-->
        <!--</li>-->
        <li class="nav-item">
          <a routerLink="/account" class="nav-link" routerLinkActive="active" *ngIf="auth.loggedIn">
            <i class="fa fa-user"></i> 账户 ({{auth.currentUser.username}})
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/admin" class="nav-link" routerLinkActive="active" *ngIf="auth.loggedIn && auth.isAdmin">
            <i class="fa fa-lock"></i> 管理员
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/logout" class="nav-link" routerLinkActive="active" *ngIf="auth.loggedIn">
            <i class="fa fa-sign-out"></i> 退出
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <router-outlet></router-outlet>

</div>
