<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="card mb-3" *ngIf="!isLoading">
  <h4 class="card-header">Members ({{members.length}})</h4>
  <div class="card-body">
    <form class="mb-4" #searchForm="ngForm" (ngSubmit)="getMembers()">
      <div class="form-row">
        <div class="col">
          <input type="text" class="form-control" placeholder="ID" name="bid" [(ngModel)]="searchMemberForm.bid">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Username" name="username" [(ngModel)]="searchMemberForm.username">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Tag" name="name" [(ngModel)]="searchMemberForm.name">
        </div>
        <div class="col">
          <select class="custom-select" name="_agent" [(ngModel)]="searchMemberForm._agent">
            <option value="">Agent</option>
            <option *ngFor="let agent of agents" value="{{agent._id}}">{{agent.name}}</option>
          </select>
        </div>
        <div class="col">
          <button class="btn btn-primary" type="submit">Search</button>
        </div>
      </div>
    </form>
    
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Username</th>
          <th scope="col">Tag</th>
          <th scope="col">Agent</th>
          <th scope="col">Operation</th>
        </tr>
      </thead>
      <tbody *ngIf="members.length === 0">
        <tr>
          <td colspan="5">暂无标注员信息. 点击增加标注员.</td>
        </tr>
      </tbody>
      <tbody *ngIf="!isEditing">
        <tr *ngFor="let member of members">
          <td>{{member.bid}}</td>
          <td>{{member.username}}</td>
          <td>{{member.name}}</td>
          <td>{{member._agent.name}}</td>
          <td>
            <button class="btn btn-sm btn-primary" (click)="enableEditing(member)"><i class="fa fa-pencil"></i> Edit</button>
            <button class="btn btn-sm btn-danger" (click)="deleteMember(member)"><i class="fa fa-trash"></i> Delete</button>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="isEditing">
        <tr>
          <td colspan="5">
            <form class="form-inline" #form="ngForm" (ngSubmit)="editMember(member)">
              <input class="form-control mr-2" type="text" name="bid" [(ngModel)]="member.bid" placeholder="Bid" required>
              <input class="form-control mr-2" type="text" name="username" [(ngModel)]="member.username" placeholder="Username" required>
              <input class="form-control mr-2" type="text" name="name" [(ngModel)]="member.name" placeholder="Tag" required>
              <select class="form-control mr-2" name="_agent" [(ngModel)]="member._agent._id" required>
                <option *ngFor="let agent of agents" value="{{agent._id}}">{{agent.name}}</option>
              </select>
              <button class="btn btn-sm btn-primary mr-2" type="submit" [disabled]="!form.form.valid"><i class="fa fa-floppy-o"></i> Save</button>
              <button class="btn btn-sm btn-warning" (click)="cancelEditing()"><i class="fa fa-times"></i> Cancel</button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
    <ngb-pagination [collectionSize]="pageInfo.totalRecord" [(page)]="pageInfo.page" aria-label="members pagination" (pageChange)="changePage($event)"  *ngIf="pageInfo.totalRecord"></ngb-pagination>
  </div>
</div>

<div class="card" *ngIf="!isEditing">
  <h4 class="card-header">Add new agent</h4>
  <div class="card-body">
    <form class="form-inline" [formGroup]="addMemberForm" (ngSubmit)="addMember()">
      <input class="form-control mr-2" type="text" name="bid" formControlName="bid" placeholder="Bid">
      <input class="form-control mr-2" type="text" name="username" formControlName="username" placeholder="Username">
      <input class="form-control mr-2" type="text" name="name" formControlName="name" placeholder="Tag">
      <select class="form-control mr-2" name="_agent" formControlName="_agent">
        <option value="" disabled>Agent</option>
        <option *ngFor="let agent of agents" value="{{agent._id}}">{{agent.name}}</option>
      </select>
      <button class="btn btn-primary" type="submit" [disabled]="!addMemberForm.valid"><i class="fa fa-floppy-o"></i> Add</button>
    </form>
  </div>
</div>
